﻿@using System.Security.Claims
<!DOCTYPE html>

<html>



<head>
    <meta name="viewport" content="width = device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div>
        <table>
            <tr>
                @if (User.IsInRole("ADMIN") || User.IsInRole("USER"))
                {
                    <td>
                        <div class="container">
                            <center>
                                <h2>Please Sign Out Whenever You Are Finished</h2>
                                <br />
                                <form method="post" asp-controller="Home" asp-action="Logout">
                                    <input class="btn btn-warning" type="submit" value="Logout" />
                                </form>
                            </center>
                        </div>
                    </td>
                }
                else
                {

                    <td>      
                        <div class="container">
                            <center>
                                <h2>Welcome. Please Login</h2>
                                <br />
                                <form method="post" asp-controller="Home" asp-action="Login">
                                    <input class="btn btn-primary" type="submit" value="Sign In" />
                                </form>
                            </center>
                        </div>                      
                    </td>
                }
            </tr>
        </table>
</div>

</body>
</html>