﻿@model CMPS383Phase1.Models.LoginViewModel
    @{
        ViewBag.Title = "Login";
    }
<script>

</script>
<center>
    <h2>Login</h2>

    <div class="container">
        <form class="form-horizontal" method="post" asp-controller="Home" asp-action="LoginAccount">
            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <input class="form-control" asp-for="Username" placeholder="Username" required />
                <span asp-validation-for="Username"></span>
            </div>

            <br />

            <div>
                <input class="form-control" asp-for="Password" placeholder="Password" required />
                <span asp-validation-for="Password"></span>
            </div>

            <br />

            <div class="form-group">
                <p class="col-md-offset-0"></p>
                <input class="btn btn-info" type="submit" value="Login" />
            </div>
        </form>
    </div>
</center>