@model CMPS383Phase1.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete This User</h2>

<h3>Are you sure you want to remove this user?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            First Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Last Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
