@model IEnumerable<CMPS383Phase1.Models.InventoryItem>

@{
    ViewData["Title"] = "Inventory Items";
}

<h2>Inventory Items</h2>
@if (User.IsInRole("ADMIN"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
            
                
                <a asp-action="Purchase" asp-route-id="@item.InventoryItemID">Purchase</a>
                @if (User.IsInRole("ADMIN") || User.IsInRole("USER"))
                {
                    <text>|</text>
                    <a asp-action="Details" asp-route-id="@item.InventoryItemID">Details</a> 
                }
                @if (User.IsInRole("ADMIN"))
                {
                    <text>|</text>
                    <a asp-action="Edit" asp-route-id="@item.InventoryItemID">Edit</a>
                    <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.InventoryItemID">Delete</a>
                }



            </td>
        </tr>
}
    </tbody>
</table>
