﻿@model CMPS383Phase1.Models.InventoryItem

@{
    ViewData["Title"] = "Purchase Confirmation";
}

<h2>Purchase This Item</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Purchase">
        <div class="form-actions no-color">
            <input type="submit" value="Purchase" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
